* {
  font-family: 'Montserrat', sans-serif;
}

/* -----page loader------ */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ibinex-logo.png') 50% 50% no-repeat, url('../images/pageloader2.gif') 50% 50% no-repeat rgb(249,249,249);
    background-size: 10vh, 25vh;
    opacity: 0.9;
}
/* -----page loader------ */
:root {
  font-size: 12px;
}

:root {
  --heading-40px: 2.5rem;
  --heading-30px: 1.875rem;
  --paragraph-title-22px: 1.375rem;
  --paragraph-17px: 1.0625rem;
  
  --landing-heading-70px: 4.375rem;
  --landing-article-title-20px: 1.25rem;
  --landing-heading-button-13px: 0.8125rem;
}

@media only screen and (max-width : 480px){
   :root {
    font-size: 16px;
  }
}
@media only screen and (min-width : 1780px) and (max-width : 1925px){
   :root {
    font-size: 16px;
  }
}


