
div.main-pricing {
  display: grid;
  grid-template-columns: 1.15fr 1.95fr 2fr 1fr;
  grid-template-rows: 20vh auto 19vh;
}

div.main-pricing.heading2 {
  grid-template-columns: 1.225fr 1.9fr 2fr 1fr;
  grid-template-rows: 21.5vh auto 22.5vh;
  align-content: start;
}

div.main-pricing.heading1 {
  background-color: whitesmoke;
}

div.main-pricing.heading2 {
  background-color: white;
}

div.main-pricing.heading {
  overflow: hidden;
}

div.main-text .heading {
font-family: 'Montserrat', sans-serif;
}

.main-text {
  display: grid;
  align-content: start;
}

.main-text.text1 {
  grid-column: span 1 / -2;
  grid-row: 2 / span 1;
  padding-right: 20px;
}

.main-text.text2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-right: 85px;
}

.main-text.text3 {
  grid-column: span 1 / -2;
  grid-row: 2 / span 1;
  padding-right: 50px;
}

.main-text.text1 p,
.main-text.text1 li,
.main-text.text3 p,
.main-text.text2 p{
  text-align: justify;
}

.main-text .heading {
/*     font-size: 1.9rem; */
  margin-top: 0;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 20px;
/*     padding-left: 10px; */
}


.main-text p,
.main-text ul {
/*     font-size: 0.8rem; */
  font-size: 0.96rem;
  font-weight: 600;
  color: rgb(107,124,147);
/*     text-align: justify; */
}

.main-text p {
  margin: 0 0 15px 0;
  padding-top: 16px;
/*     padding-left: 10px; */
  margin-bottom: 2px;
  line-height: 1.65;
  hyphens: none;
}

.main-text.text2 p,
.main-text.text3 p {
  margin-bottom: 0.45rem;
}

.main-text ul li {
  padding-bottom: 20px;
  font-size: .96rem;
  line-height: 1.7;
}

.main-text .additional-margin {
  margin-top: 1.25rem;
}
.fa-ul {
  margin-left: 2em;
}

.fa-li {
  top: 0.3em !important;
}

@media only screen and (min-width : 1780px) {
   :root {
    font-size: 17px;
  }
  
  div.main-pricing {
    grid-template-columns: 1.15fr 1.95fr 1.95fr 1.05fr;
    grid-template-rows: 17vh auto 16.5vh;
  }

  div.main-pricing.heading2 {
    grid-template-columns: 1.225fr 1.9fr 1.95fr 1.05fr;
    grid-template-rows: 18vh auto 19vh;
    align-content: start;
  }
  
   .main-text p,
  .main-text ul li {
    line-height: 1.78;
  }
  
  .main-text ul {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .main-text ul li {
    padding-bottom: 26px;
  }
  
  .main-text.text1 p,
  .main-text.text2 p,
  .main-text.text3 p {
    margin-bottom: 0.55rem;
  }
  
  .text1 h1:nth-of-type(1) {
    margin-bottom: 1.95rem;
  }
  
  .text1 h1:nth-of-type(2) {
    margin-bottom: 1.7rem;
  }
  
  .main-text.text2 h1 {
    margin-bottom: 2.2rem;
    
  }
  
  .main-text.text3 h1 {
    margin-bottom: 2.2rem;
  }
  
  
}

@media only screen and (min-width : 768px) and (max-width : 1150px) {
    div.main-pricing,
    div.main-pricing.heading2 {
      grid-template-columns: 1fr 4fr 4fr 1fr;
      grid-template-rows: 10vh auto 9vh;
  }
  .main-image {
    background-image: url('assets/images/laptop-transparent2.png');
    background-position: left center;
    background-size: 40%;
    filter: drop-shadow(35px 35px 30px rgba(0,0,0,0.5));

  }
}

@media only screen and (max-width : 767px){
  :root {
    font-size: 16px;
  }
  .main-image{
    display: none;
  }
  div.main-pricing {
    grid-template-columns : 1fr;
    grid-template-rows: 65px auto auto 110px;
    grid-gap: 0;
  }
  
  div.main-pricing.heading2 {
   grid-template-rows: 48px auto auto 54px; 
  }
  
  div.main-text.text1, 
  div.main-text.text2, 
  div.main-text.text3 {
    grid-column: 1 / -1;
    padding-left: 11px;
    padding-right: 14px;
  }
  
  div.main-text.text2 {
    grid-column: 1 / -1;
    grid-row: 2 /span 1;
  }
  
  div.main-text.text3 {
    grid-column: 1 / -1;
    grid-row: 3 /span 1;
  }
   .main-text .heading {
   font-size: 2.3rem;
  }
  
  .main-text p,
  .main-text h1{
    margin-left: 3px;
  }
  .main-text ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .main-text p,
  .main-text ul li {
    hyphens: manual;
    line-height: 1.78;
  }
  
  .main-text ul li {
    padding-bottom: 26px;
  }
    
  .fa-li {
    left: -2.3em !important;
  }
  
  .main-text.text1 p,
  .main-text.text2 p,
  .main-text.text3 p {
    margin-bottom: 0.55rem;
  }
  
  .text1 h1:nth-of-type(1) {
    margin-bottom: -0.15rem;
  }
  
  .text1 h1:nth-of-type(2) {
    margin-bottom: 1.7rem;
  }
  
  .main-text.text2 h1 {
    margin-bottom: 1.85rem;
    
  }
  
  .main-text.text3 h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.95rem;
  }
   .fa-li {
    top: 0.5em !important;
  }
    
}
