

@media only screen and (max-width: 768px){
    .text-holder{
        max-width: 54%;
        margin-top:27%;
    }

    #contact-us-form .white-form{
        width:65%;
        background-color: whitesmoke;
        margin-top:-23%;
        margin-bottom: 15%;
        padding:5%;
    }
}